/*Body*/
body {
   background: url('Images/coffee-beans-wallpaper.jpg') no-repeat;
   background-size: 100% 80%;
   background-color: white;
}

/*Div menu*/
#div-menu {
   background-color: black;
}

/*Div register*/
#box-register {
   opacity: 90%;
   border-radius: 15px;
   margin-left: 10%;
   margin-top: 2%;
   height: 600px!important;
   width: 80%;
   background-color: #d9d9d9;
}

/*btn sign up decoration*/
.btn-sign-up {
   font-weight: 700;
   background-color: white;
   color: black;
   border-radius: 25px;
   transition-duration: 0.6s;
}

/*btn sign in decoration*/
.btn-sign-in {
   font-weight: 700;
   background-color: black;
   color: white;
   border-radius: 25px;
   transition-duration: 0.6s;
}

/*Menu text decoration*/
.menu-learn {
   font-weight: 700;
   transition-duration: 1.0s;
}

/*Learn menu text animated*/
.menu-learn:hover {
   transition-duration: 0.5s;
   font-size: 18px;
   color: #b3afaf !important;
}

/*btn sign in animated*/
.btn-sign-in:hover {
   background-color: white !important;
   color: black !important;
   border-radius: 25px;
   transition-duration: 0.5s;
}

/*btn sign up animated*/
.btn-sign-up:hover {
   background-color: black !important;
   color: white !important;
   border-radius: 25px;
   transition-duration: 0.5s;
}

/*Footer links*/
.footer-link:hover {
   transition-duration: 0.6s;
   color: #b3afaf !important;
}

/*Text copyright*/
.items-copyright {
   text-decoration: none !important; 
   color: gray !important;
}

/*Text email*/
.email-text {
   color: black;
   font-weight: bold;
   font-size: 15px;
   margin-top: 50px;
   margin-left: 5%;
   font-family: Arial, Helvetica, sans-serif;
}

.password-text {
   color: black;
   font-weight: bold;
   font-size: 15px;
   margin-top: 10px;
   margin-left: 5%;
   font-family: Arial, Helvetica, sans-serif;
}

/*Input one*/
.inpt1 {
   border-style: solid;
    opacity: 60%;
    background-color: #d9d9d9;
    border-radius: 4px;
    border-width: 1px;
    border-color: #919191;
    color: black;
    width: 90%;
    height: 40px;
    margin-left: 5%;
    text-indent: 10px;
    transition-duration: 0.5s;
}

/*Mouse click on input*/
.inpt1:focus {
   outline: none;
   border-color: green;
}

/*Inpt animated*/
.inpt1:hover{
    border-color: green;
    transition-duration: 0.5s;
}

/*btn sign up*/
.btn-confirm-sign-up {
   color: black;
   border-color: black;
   margin-top: 2%!important;
   width: 90%;
   margin-left: 5%;
   transition-duration: 0.8s;
}

/*btn sign up animated*/
.btn-confirm-sign-up:hover {
   color: white;
   background-color: black;
   transition-duration: 0.8s;
}

/*Logo menu*/
.box_logo {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 10%;
}

.logo {
   border-radius: 30px;
}

.sign-up-text {
   font-weight: bold;
   margin-top: 2%;
}

.Footer_box {
   margin-top: 10%; 
   background-color: black; 
   width: 100%; 
   height: 600px; 
   margin-bottom: -10%;
}

.Footer_box .img_center {
   display: flex;
   justify-content: center;
   align-items: center;
}

.Footer_box .img_center img {
   width: 60px;
   margin-top: 100px;
   margin-bottom: 50px;
}

.Footer_box .footer_tittle {
   display: flex;
   justify-content: center;
   align-items: center;
}

.Footer_box .footer_tittle span {
   margin-left: 50px;
   font-size: 14px;
   color: gray;
}

.Footer_box .footer_link1 {
   margin-left: -350px;
   margin-top: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.Footer_box .footer_link1 a {
   margin-left: 100px;
   font-size: 15px;
   color: white;
}

.Footer_box .footer_link2 {
   margin-left: -100px;
   margin-top: -20px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.Footer_box .footer_link2 a {
   margin-left: 100px;
   font-size: 15px;
   color: white;
}

.Footer_box .footer_link3 {
   margin-left: 180px;
   margin-top: -20px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.Footer_box .footer_link3 a {
   margin-left: 100px;
   font-size: 15px;
   color: white;
}

.Footer_box .footer_link4 {
   margin-left: -380px;
   margin-top: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.Footer_box .footer_link4 a {
   margin-left: 100px;
   font-size: 15px;
   color: white;
}

.Footer_box .footer_link5 {
   margin-left: -90px;
   margin-top: -20px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.Footer_box .footer_link5 a {
   margin-left: 100px;
   font-size: 15px;
   color: white;
}

.Footer_box .footer_link6 {
   margin-left: 180px;
   margin-top: -20px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.Footer_box .footer_link6 a {
   margin-left: 100px;
   font-size: 15px;
   color: white;
}

.Footer_box .footer_link7 {
   margin-left: -335px;
   margin-top: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.Footer_box .footer_link7 a {
   margin-left: 100px;
   font-size: 15px;
   color: white;
}

.Footer_box .footer_link8 {
   margin-left: -90px;
   margin-top: -20px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.Footer_box .footer_link8 a {
   margin-left: 100px;
   font-size: 15px;
   color: white;
}

.others_links {
   margin-left: 80px;
   margin-top: 200px;
}

.others_links a {
   font-size: 13px;
}

.Footer_box a {
   text-decoration: none;
   transition-duration: 0.8s;
}

.Footer_box a:hover {
   color: gray;
   transition-duration: 0.8s;
}