/*The body*/
.principal {
    background-color: white;
}

/*Menu*/
.menu {
    top: 0px;
    left: 0px;
    background-color: rgb(238, 230, 230);
    text-align: right;
    width: 100%;
    height: 60px;
    position: fixed;
    
}
/*Image background*/
.fundo {
    margin-top: 70px;
    margin-left: 350px;
    position: initial;
}

/*Button from Sign in*/
.bt {
    border-radius: 20px;
    width: 90px;
    height: 40px;
    border-style: groove;
}
.bt:hover {
    background-color: rgb(238, 230, 230);
}

/*href from Sign in*/
.S {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    text-decoration-line: none;

}


/*Buttom from Sign up*/
.bt2 {
    border-radius: 20px;
    width: 90px;
    height: 40px;
    border-style: groove;
    margin-right: 30px;
    margin-top: 7px;
}
.bt2:hover {
    background-color: rgb(238, 230, 230);
}

.bt3 {
    position: fixed;
    width: 90px;
    height: 10px;
    left: 500px;
    top: 20px;
    text-decoration-line: none;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    text-decoration-line: none;
}

.bt3:hover, .bt4:hover, .bt5:hover {
    color: rgb(145, 144, 144);
}

.bt4 {
    position: fixed;
    width: 90px;
    height: 10px;
    left: 370px;
    top: 20px;
    text-decoration-line: none;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    text-decoration-line: none;
}

.bt5 {
    position: fixed;
    width: 90px;
    height: 10px;
    left: 200px;
    top: 20px;
    text-decoration-line: none;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    text-decoration-line: none;
}


/*href from Sing up*/
.S2 {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    text-decoration-line: none;
}

/*Icon image*/
.icon {
    top: 5px;
    width: 50px;
    position: fixed;
    left: 3px;

}

.text {
    position: inherit;
    padding-top: 200px;
    padding-left: 20px;
}

.text0 {
    position: absolute;
    padding-top: 100px;
    padding-left: 200px;
}